<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
  <button type="button" class="btn btn-primary">Bootstrap適応</button>
    <%= render 'layouts/footer' %>
  </body>
</html>